.marquee {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;    
  }
  
  .marquee  span {
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    font-size: 30px;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  